
.App {
  text-align: center;
  margin-top: 20px;

}
body{
  background-image: url('https://img.freepik.com/vector-gratis/fondo-circulos-tonos-oscuros_60389-166.jpg?w=826&t=st=1695171182~exp=1695171782~hmac=70784dbdcd064bc225ff82b721c5ca2e088c52297ce56b143267483683a0d072'); /* Cambia la ruta a tu imagen de fondo */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}
h1{
  color: antiquewhite;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  max-width: 400px; 
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(230, 190, 190, 0.897); 
  background-color: beige;

}


.buttonretroceder{
  background-image: url("../public/arrow-left-solid.svg");
  background-color:bisque;
  width: 50px;
  height: 60px;
  margin-Right: 10px;
  margin-left: 10px;
  border: none; 
  border-radius: 10px; 
}
.buttonavanzar{
  background-image: url("../public/arrow-right-solid.svg");
  background-color:bisque;
  width: 50px;
  height: 60px;
  margin-left: 10px;
  margin-left: 10px;
  border: none; 
  border-radius: 10px; 
}

.buttonretroceder:hover,
.buttonavanzar:hover {
  background-color: rgb(230, 162, 131); 
}

.texto-grande {
  font-size: 24px; 
  font-weight: bold; 
  color: #333; 
  
}

.btn.btn-link {
  border: none; 
  box-shadow: none; 
  width: 300px;
  height: 80px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(230, 162, 131);
  font-weight: bold;
}

.imagen-clase{
  margin-top: 40px;
  width: 100px;
  height: 100px;
}
